@use 'base/mixins' as m;
@use 'base/variables' as v;

.header {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 2rem 0;

  @include m.tablet {
    flex-direction: row;
    justify-content: space-between;
  }
}
