@use 'base/mixins' as m;
@use 'base/variables' as v;

.sidebar {
  color: v.$blanco;
  &__contenido {
    background-color: v.$secundario;
    color: v.$blanco;
    padding: 2rem;
    text-align: center;
  }

  &__texto {
    color: v.$blanco;
  }

  &__label {
    font-weight: 700;
  }

  &__mapa {
    width: 100%;
  }
}
