@use 'base/mixins' as m;
@use 'base/variables' as v;

.busqueda {
  background-color: v.$grisClaro;
  padding: 5rem 0;

  &__heading {
    @include m.heading;
  }
}

.formulario {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;

  @include m.desktop {
    @include m.grid(4, 3rem);
  }

  &__campo {
    border: 0.1rem solid lighten(v.$gris, 50%);
    margin-bottom: 2rem;
    padding: 1rem;

    @include m.desktop {
      margin-bottom: 0;
    }
  }

  &__submit {
    @include m.boton(v.$primario, v.$blanco);
    margin-top: 0;
  }
}
